In [1]:
import os
from pathlib import Path
import pandas
import json
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt

In [2]:
#basepath = Path(os.path.dirname(os.path.dirname(os.path.abspath(__file__))))
#filepath = basepath / 'YGroup-Project' / 'data' / f'OD_{year}.csv'

default_folder = '/home/cloudera/Documents/ygroup-project'
proj_path = str(input("Please, inform the path to the project folder: ") or default_folder)
filepath = proj_path+'/data/stations.json'

print("Getting data from ", filepath)

Please, inform the path to the project folder:
Getting data from  /home/cloudera/Documents/ygroup-project/data/stations.json

In [3]:
with open(filepath) as f:
    d = json.load(f) 

st = json_normalize(d['stations']) 
st.head(5)

,b,ba,bk,bl,bx,da,dx,id,la,lc,lo,lu,m,n,s,st,su
0,False,15,False,False,0,0,0,1,45.509328,1510070565576,-73.554347,1510061994757,False,6001,Hôtel-de-Ville 2 (du Champs-de-Mars / Gosford),1,False
1,False,12,False,False,0,11,0,2,45.539292,1510070446412,-73.541031,1510065732418,False,6002,Ste-Catherine / Dézéry,1,False
2,False,8,False,False,0,11,0,3,45.511132,1510070398986,-73.567907,1510069557891,False,6003,Clark / Evans,1,False
3,False,26,False,False,0,9,0,4,45.509188,1510070613361,-73.554580,1510069651843,False,6004,Hôtel-de-Ville (du Champs-de-Mars / Gosford),1,False
4,False,14,False,False,0,9,0,6,45.557895,1510070500075,-73.576529,1510062707620,False,6006,18e avenue / Rosemont,1,False

In [4]:
capacity = pandas.DataFrame({'station_id':st['id']})
capacity['station_ba'] = st['ba']
capacity.head(5)
# fulldf.groupby('start_station_code').agg({'start_date': 'count'}).sort_values('start_date',ascending=False).head(int(topn))

   station_id  station_ba
0           1          15
1           2          12
2           3           8
3           4          26
4           6          14

In [5]:
print("\nCapacidad total de bikes:", capacity['station_ba'].sum(),"\n")

Capacidad total de bikes: 4925